:root{
    --bg_color:#0b1b32; 
    --text_color: #ffffff;
    --font-type: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg_color);
    color: var(--text_color);
    font-family: var(--font-type);
    line-height: 1.6;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 50%;
    display: block;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 50px;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom:1px solid #ffffff;
    border-color: #64ffda;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;            
    letter-spacing: 2px;
}

nav ul{
    display: flex;
    gap:30px;
}

nav ul li a {
    color: aliceblue;
    font-size: 1rem;
    transition: color 0.3s ease; 
}

nav ul li a:hover{
    color: #64ffda;
}

.nav-element{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.resume-btn{
width: 80px;
height: 30px;
border-radius: 5px;
border:1px solid #64ffda;
background-color: #64ffda;
color: #0b1b32;
cursor: pointer;
}

.resume-btn:hover{
border:1px solid #64ffda;
background-color: #0b1b32;
color: aliceblue;
}

header{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    padding-inline: 20px;
}

.hero-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    max-width: 80%;
}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}

.hero-info p{
    text-align: start;
}

.hero-btn1{
width: 200px;
height: 50px;
border-radius: 5px;
border:1px solid #64ffda;
background-color: #0b1b32;
color: aliceblue;
cursor: pointer;
}
.hero-btn1:hover{
border:1px solid #64ffda;
background-color: #64ffda;
color: #0b1b32;
}

.hero-btn2{
width: 200px;
height: 50px;
border-radius: 5px;
border:1px solid #64ffda;
background-color: #64ffda;
color: #0b1b32;
cursor: pointer;
}

.hero-btn2:hover{
border:1px solid #64ffda;
background-color: #0b1b32;
color: aliceblue;
}

.hero-img {
  width: 320px;
  height: 340px;
  border-radius: 50%;            
  object-fit: cover;           
  border: 0.5px solid #64ffda ;
  margin-bottom: 10px;
}